.fondo{
  background-color: #282c34;
}

.divisor1 {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  max-Width: 800 px;
  margin: 0 auto;
}

.h1 {
  border-bottom: 2px solid #eeee;
  margin-bottom: 20px;
  padding-bottom: 10px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(212, 208, 231);
}

.divisor2{
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #ccc;
}

.divColumna{
  border: 1px solid rgb(212, 208, 231);
  padding: 15px;
  border-radius: 12px;
  background-color: rgb(18, 67, 100);
}

.h2{
  color: white;
}

.h3{
  margin: 0 0 10px 0;
}

.divInterno{
  display: flex;
  gap: 10px;
  align-items: center;
}

.input{
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.boton{
  padding: 10px 15px;
  background-color: rgb(42, 105, 79);
  color: white;
  border: none;
  border-radius: 9px;
  cursor: pointer;
}
